<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>

  <script>
    function validateForm(){
      var feat = document.getElementsByName("features");
      var chk = false

      for (var i = 0, l = feat.length; i < l; i++){
        if (feat[i].checked){
          chk = true;
          break;
        }
      }

      if (chk == false){
        alert("Please select at least one option");
        return false;
      }
    }
  </script>
</head>

<body style="background-color:lavender;">

<div class="container-fluid">
  <h2><p align=center style='text-align:center'>Stocks - Price Data</p></h2>
  <h5><p align=center style='text-align:center'>Tejas Milestone Project</p></h5>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
      <form id='input' name=stockForm onsubmit="return validateForm()" method='post' action='/stocks'>
        <div class="form-group">
          <h3><span class="label label-primary">Stocks Ticker Symbol</span></h3>        
          <div class="col-xs-8">
            <input class="form-control" type="text" class="form-control" name="ticker" size = 20 maxlength = 20 placeholder="Enter stock ticker eg. GOOG, FB" required>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <h3><span class="label label-primary">Select Options</span></h3>
          <div class="checkbox">
            <label><input type="checkbox" name='features' value='close' checked>Closing price</label><br/>
            <label><input type="checkbox" name='features' value='open'>Opening price</label>
          </div>
        </div>
        <div class="form-group">
          <h3><span class="label label-primary">Date Range</span></h3>
          <div class="radio">
            <label><input type="radio" name='daterange' value='days30' checked>Past 30 days</label><br/>
            <label><input type="radio" name='daterange' value='pmonth'>Past Month</label>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">View Graph</button>
      </form>
      <br>
    </div>
    <div class="col-sm-6" style="background-color:lavender;">
        {{ div|safe }}
        {{ script|safe }}
    </div>
  </div>
</div>

</body> 
</html>
